# Build artifacts
/build/

# IDE and OS specific
.vscode/
/.vs/
/CMakeSettings.json

# Python
**/__pycache__/
*.py[cod]

# Logging and Experiment Tracking
wandb/
*.log
events.out.tfevents.*

# Model Checkpoints
checkpoints/

# Other
thingsToAdd.txt